.footer {
    background-color: $black;
    color: $white;

    p {
        color: $white;
    }
}

.footer__subtitle {
    margin-bottom: 10px;
}

.footer__head {
    margin-bottom: 30px;

    .footer__company-name {
        margin-bottom: 20px;
    }

    .footer__links {
        li {
            margin-bottom: 5px;
        }
    }
}

.footer__info {
    .footer__company-contact {
        p:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    .btn-contact {
        margin-top: 10px;
        padding: 8px 15px;
    }
}

.social-links {
    display: flex;
    margin-top: 35px;
}

.social-link-wrapper {
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: $green;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: all .2s ease;

    &:hover {
        background-color: $darkGreen;
    }
}

.social-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

@include breakpoint(480px) {
    .footer__info {
        .footer__company-contact-wrapper {
            display: flex;
            align-items: flex-end;
        }

        .btn-contact {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

@include breakpoint(768px) {
    .footer {
        padding-bottom: 90px;
    }

    .footer__head,
    .footer__info {
        display: flex;
        justify-content: space-between;
    }

    .footer__head {
        margin-bottom: 50px;
        align-items: center;

        .footer__company-name {
            margin-bottom: 0;
        }

        .footer__links {
            ul {
                display: flex;
            }

            li {
                padding: 0 10px;
                margin-bottom: 0;
            }
        }
    }

    .footer__info {
        align-items: flex-end;

        .btn-contact {
            margin-left: 50px;
        }
    }

    .social-links {
        margin-top: 0;
    }
}