.references-grid {
    .item__logo {
        width: auto;
    }
}

.references-grid__item {
    display: block;
    border: 1px solid $border;
    width: 100%;
    height: 100%;

    .item__logo-wrapper {
        border-bottom: 1px solid $border;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item__content {
        text-align: center;
        padding: 20px 0;
        max-width: 200px;
        margin: 0 auto;
    }

    .item__title {
        font-weight: 400;
        margin-bottom: 10px;
    }

    .item__description {
        line-height: 1.3;
        font-weight: 200;
    }
}


@include breakpoint(768px) {
    .references-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@include breakpoint(1200px) {
    .references-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}